.tableContainer{
    @apply w-full flex-grow h-full overflow-y-auto flex flex-col;

    .tableWrapper{
      @apply flex-grow  h-full overflow-x-auto md:w-full flex flex-col;
       table.table{
            @apply flex-grow overflow-y-hidden w-full h-full grid grid-rows-[auto,1fr] overflow-x-auto;
        border-spacing:0;

        thead{
       @apply bg-[#0B8EC2] rounded-lg w-full h-12 flex  text-xs overflow-auto;

     
    }
    tbody{
        @apply bg-white overflow-y-auto h-3/4 overflow-x-auto  lg:w-full;
    }
    td,th{
        @apply text-left whitespace-nowrap ;
    }

    th{
        @apply text-[#100C2A] w-[10rem];
    }
    td{
        @apply py-4 text-[#565656] cursor-pointer w-[10rem];
        
    }
    }
    tr{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    }
}
.arrow--style{
    @apply flex space-x-2 items-center;
}
.success{
    @apply text-[#2EB872] rounded-2xl py-[4px] px-5 bg-[rgba(46,_184,_114,_0.1)] text-sm;
}
.failed{
    @apply bg-[rgba(242,_153,_74,_0.1)] text-[#F2994A] text-sm py-[4px] px-5 rounded-2xl;
}