@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;

:root {
  font-family: 'Inter', 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  :root {
    font-size: 12px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
textarea {
  resize: none;
}

* *::before *::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

select {
  -webkit-appearance: none;
  margin: 0%;
}
@tailwind utilities;
