label{
    @apply  block relative pl-[2.1875rem] cursor-pointer text-black ;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    input {
      @apply absolute opacity-0 cursor-pointer h-0 w-0 text-sm;
      // position: absolute;
      // opacity: 0;
      // cursor: pointer;
      // height: 0;
      // width: 0;
      &:checked ~ .checkmark {
        @apply bg-[lightgray]
      }
    }
    .checkmark {
      @apply absolute top-0 left-0 h-[1.52rem] w-[1.64rem] bg-[#F2F2F2];
      // position: absolute;
      // top: 0;
      // left: 0;
      // height: 1.52rem;
      // width: 1.64rem;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    input:checked ~ .checkmark:after {
      @apply block;
    }
    .checkmark:after {
      @apply left-[0.5625rem] top-[3px] w-2 h-[0.875rem]; 
      border: 1px solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);

    }
}